<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div id="results">
</div>

<script type="text/javascript">

  $(document).ready(function() {
    setInterval(function() {
      $.get("/api", function(data) {
        $("#results").append("<div>" + data + "</div>");
        $("html,body").animate({scrollTop: $('#results div:last').offset().top + 30});
      });
    }, 2000);
  });

</script>
